.app-box
  div(style="text-align:center")
    .title-item Key:
    div
      select#key.select-css(name="key")
        each item in keys
          option(value=item, selected=item == selectedKey) #{item}

    .title-item Scale:
    div
      select#scale.select-css(name="scale")
        each item in allScales
          option(value=item, selected=item == selectedScale) #{item}

    .title-item Number of notes:
    div
      select#notes.select-css(name="notes")
        each _, i in Array(16)
          option(value=i, selected=i == selectedNumberOfNotes) #{i}

    .title-item Chance of empty notes:
    div
      select#empty-notes.select-css(name="empty-notes")
        each item in allEmptyModes
          option(value=item, selected=item == selectedEmptyMode) #{item}

    include ./tempo-controls.pug

    br
    div Randomized notes from
      i #{allNotes}
    br 
    br
    include ./melody-bar.pug
    br
    div
      include ./sound-player.pug
      button#refresh-button New Notes
      button#note-share-button Share
    #share-url.copy-share-url

    br
    br
    a.github(href="https://github.com/Notecraft/note-craft", target="_blank") Github
    br 
