.app-box
  div(style="text-align:center")
    .title-item Key:
    div
      select#key.select-css(name="key")
        each item in keys
          option(value=item, selected=item == selectedKey) #{item}

    .title-item Scale:
    div
      select#scale.select-css(name="scale")
        each item in allScales
          option(value=item, selected=item == selectedScale) #{item}

    .title-item Number of notes:
    div
      select#notes.select-css(name="notes")
        each _, i in Array(16)
          option(value=i, selected=i == selectedNumberOfNotes) #{i}

    .title-item Chance of empty notes:
    div
      select#empty-notes.select-css(name="empty-notes")
        each item in allEmptyModes
          option(value=item, selected=item == selectedEmptyMode) #{item}

    .title-item Tempo:
    br
    input#tempo-text(
      type="number",
      onKeyUp="if(this.value>600){this.value='600';}else if(this.value<30){this.value='30';}",
      step="10",
      value=currentTempo
    )

    .slidecontainer
      input#tempo-range.slider(
        type="range",
        min="30",
        max="600",
        step="1",
        value=currentTempo
      )

    br
    div Randomized notes from
      i #{allNotes}
    br 
    br
    #current-pattern.hidden #{pattern.toString()}
    .note-container
      each item in pattern
        .note-item #{item}
    br
    div
      button#play-button Play
      button#refresh-button New Notes
      button#note-share-button Share
    #share-url.copy-share-url

    br
    br
    a.github(href="https://github.com/Notecraft/note-craft", target="_blank") Github
    br 
